In [69]:
import pandas as pd
import numpy as np
import cvxpy as cp

In [29]:
df = pd.read_csv("aoe4_data.csv")
df.head()

,,Unnamed: 1,Unnamed: 2,Resource Cost,Unnamed: 4,Unnamed: 5,Unnamed: 6,Time,Pop,Move,...,Armor,Unnamed: 13,Attack,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Bonus,Note
0,Name,Civ,Age,NaN,NaN,NaN,Total,NaN,NaN,NaN,...,Melee,Range,Dmg,Spd,Dps,Rng,dps/r,Type,NaN,NaN
1,Light Melee Infantry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Spearman,All,I,60.0,20.0,0.0,80,15.0,1.0,1.25,...,0,0,6,1.75,3.43,0.29,0.043,Melee,+15 vs Cav,Braces the spear against cavalry charge if sta...
3,NaN,NaN,II,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,8,1.75,4.57,0.29,0.057,NaN,+20 vs Cav,NaN
4,NaN,NaN,III,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,9,1.75,5.14,0.29,0.064,NaN,+23 vs Cav,NaN

In [30]:

df.rename(columns={"Resource Cost": "Food", "Unnamed: 4": "Wood","Unnamed: 5": "Gold",}, inplace=True)
df.rename(columns={"Unnamed: 15" :"Spd","Unnamed: 16": "DPS","Unnamed: 17": "Rng"},inplace =True)
df.drop(columns=["Unnamed: 1", "Unnamed: 2","Bonus","Note","Unnamed: 19","Unnamed: 18","Unnamed: 13","Unnamed: 6","Move", "DPS", "HP per\nResource"], inplace=True)
df = df.iloc[:124]
df = df.dropna(subset=['Food', 'Gold', 'Wood'])

In [33]:
df.head()
df
# 100 wood is 130 gold
# 100 food is 130 gold

                            Gold  Time  Pop     HP Armor Attack   Spd   Rng
2                Spearman  104.0  15.0  1.0   70.0     0      6  1.75  0.29
6             Landsknecht  178.0  22.0  1.0   80.0     0     17  1.25  0.29
9             Man-at-Arms  150.0  22.0  1.0  100.0     2      8  1.25  0.29
13           Palace Guard  150.0  22.0  1.0  155.0     3     12  1.25  0.29
16                 Archer  104.0  15.0  1.0   70.0     0      5   1.5  5.00
..                    ...    ...   ...  ...    ...   ...    ...   ...   ...
119  Fishing Boat (Delhi)   97.5  25.0  1.0  125.0     0      7  1.75  4.00
120    Lodya Fishing Boat   78.0  25.0  1.0  125.0     0    NaN   NaN   NaN
121        Transport Ship  130.0  20.0  2.0  600.0     0    NaN   NaN   NaN
122  Lodya Transport Ship  130.0  20.0  2.0  600.0     0    NaN   NaN   NaN
123            Trade Ship  490.0  60.0  2.0  300.0     0    NaN   NaN   NaN

[71 rows x 9 columns]

In [32]:
df.Food *= 1.3
df.Wood *= 1.3
df.Gold = df.Food + df.Wood + df.Gold
df.drop(columns=["Food", "Wood"], inplace=True)
df.head()

                   Gold  Time  Pop     HP Armor Attack   Spd   Rng
2       Spearman  104.0  15.0  1.0   70.0     0      6  1.75  0.29
6    Landsknecht  178.0  22.0  1.0   80.0     0     17  1.25  0.29
9    Man-at-Arms  150.0  22.0  1.0  100.0     2      8  1.25  0.29
13  Palace Guard  150.0  22.0  1.0  155.0     3     12  1.25  0.29
16        Archer  104.0  15.0  1.0   70.0     0      5   1.5  5.00

In [48]:
# Time, HP, Pop, Armor, Attack, Speed and Range would be our constraints
df = df.dropna()
df
print(len(df.index))

55

In [68]:
c = np.array(df['Gold'])
A = np.array(df[['Time','HP','Armor','Attack', "Spd", "Rng", "Pop"]]).T
# df["Armor"] = df["Armor"].astype(float)
# df["Attack"] = df["Attack"].astype(float)
# df["Spd"] = df["Spd"].astype(float)
# df["Rng"] = df["Rng"].astype(float)
b = np.array([1026,5000,20,1000,100,130,200]) # These are our requirements

251.35999999999999

In [ ]:
X = cp.Variable(food.shape[0])