In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("aoe4_data.csv")

In [22]:

df.rename(columns={"Resource Cost": "Food", "Unnamed: 4": "Wood","Unnamed: 5": "Gold",}, inplace=True)
df.rename(columns={"Unnamed: 15" :"Spd","Unnamed: 16": "DPS","Unnamed: 17": "Rng"},inplace =True)
df.drop(columns=["Unnamed: 1", "Unnamed: 2","Bonus","Note","Unnamed: 19","Unnamed: 18","Unnamed: 13","Unnamed: 6","Move","Time"], inplace=True)
df = df.iloc[:124]
df = df.dropna(subset=['Food', 'Gold', 'Wood'])

In [23]:
df

,,Food,Wood,Gold,Pop,HP,HP per\nResource,Armor,Attack,Spd,DPS,Rng
2,Spearman,60.0,20.0,0.0,1.0,70.0,0.88,0,6,1.75,3.43,0.29
6,Landsknecht,60.0,0.0,100.0,1.0,80.0,0.50,0,17,1.25,13.60,0.29
9,Man-at-Arms,100.0,0.0,20.0,1.0,100.0,0.83,2,8,1.25,6.40,0.29
13,Palace Guard,100.0,0.0,20.0,1.0,155.0,1.29,3,12,1.25,9.60,0.29
16,Archer,30.0,50.0,0.0,1.0,70.0,0.88,0,5,1.5,3.33,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...
119,Fishing Boat (Delhi),0.0,75.0,0.0,1.0,125.0,1.67,0,7,1.75,4.00,4.00
120,Lodya Fishing Boat,0.0,60.0,0.0,1.0,125.0,2.08,0,NaN,NaN,NaN,NaN
121,Transport Ship,0.0,100.0,0.0,2.0,600.0,6.00,0,NaN,NaN,NaN,NaN
122,Lodya Transport Ship,0.0,100.0,0.0,2.0,600.0,6.00,0,NaN,NaN,NaN,NaN
123,Trade Ship,0.0,300.0,100.0,2.0,300.0,0.75,0,NaN,NaN,NaN,NaN